*{

    margin: 0;
    padding: 0;
}


html {

    height: 50%;
	width: 100%;
}

main{
    background-color: #000;
    background: url(/images/volleyball_court.webp);
    background-position: center;
    background-size: cover;
}

body{
    background-color: #000;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: #ff7200;
    font-size:30px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 30px;
    float: left;
    padding-top: 0px;
    margin-top: 0px;
    height: 80px;
    width: 120px;

}

.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}
.JOIN{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .JOIN{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease; 
}

.content .JOIN a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}
.JOIN:hover{
    background-color: #fff;
}

.paragraph{
    color: #fff;
    padding-left: 20px;
    padding-bottom: 200px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.2px;
    line-height: 30px;
    padding-top: 12%;
}
h1{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 0%;
    letter-spacing: 2px;
    font-weight: bold;
}


span{
    color: #ff7200;
    font-size: 65px;
    font-weight: bold;
    font-style: italic;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}



@media screen and (max-width:1200px) {
    /*Normal Screen*/

   

    .btn{
        height:40px;
        width: 80px;
    }
    .content{
        width: 100%;
    }
    .content h1, .content span{
        font-size: 4.5vw; 
    }
    .content .paragraph{
        width: 90%;
        font-size: 1.5vw;
		font-family: Arial, Helvetica, sans-serif;
    }
    .content .cn{
        width: 13%;
        height: 3.5vw;
        font-size: 1.8vw;
    }
    .content a{
        font-size: 1.6vw
    }
}

@media screen and (max-width:1170px) {
    /*Login-box*/
    .main{
        padding-left: 20px;
        height: 180vh;
    }
   
    .btnn a{
        font-size: 16px;
    }

}

@media screen and (max-width: 830px){
    /*For tablet*/
   
    
    .content h1, .content span{
        font-size: 6vw; 
    }
    .content .par{
        width: 90%;
        font-size: 1.8vw;
    }
    .content .cn{
        width: 15%;
        height: 4.5vw;
        font-size: 2vw;
    }
    .content a{
        font-size: 2vw
    }
    .logo{
        margin-left: 240px;
        margin-top: 5px;
        font-size: 5vw;
        width: 200px;
        height: 150px;
    }
   
    .btn{
        height:30px;
        width: 70px;
    }
    .main{
        padding-left: 20px;
        height: 180vh;
    }

    .btnn a{
        font-size: 16px;
    }

}

@media screen and (max-width: 600px){
    /*IPAD*/
    
    .content{
        margin-top: 80px;
        margin-left: 20px;
    }

    .logo{
        margin-left: 180px;
        font-size: 4vw;
    }
  
}

@media screen and (max-width: 450px){
    /*mobile*/
    .logo{
        margin-left: 140px;
        font-size: 4vw;
    }


}