.logo{
    color: #ff7200;
    font-size:30px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 30px;
    float: left;
    padding-top: 0px;
    margin-top: 0px;
    height: 80px;
    width: 120px;

}

